Press "Tab" for argument/auto-complete suggestions.

# Visualizing stuff

In [1]:
print("Hello world")

Hello world

In Jupyter you can see either the output directly or print it:

In [2]:
anInteger = 32

In [3]:
anInteger

32

In [4]:
print(anInteger)

32

# Data Types

In [5]:
anInteger, type(anInteger)

(32, int)

In [6]:
anInteger/2, type(anInteger/2)

(16.0, float)

In [7]:
anInteger//2, type(anInteger//2)

(16, int)

In [8]:
type('a'), type("a"), type('Hi'), type("Hi")

(str, str, str, str)

In [9]:
type('1'), type("1"), type(1), type(1.0)

(str, str, int, float)

In [10]:
type(True), type(False)

(bool, bool)

# Collections

## Python Lists

They can have any type of data.

In [11]:
myList = ["Hello", "World", 0, 1.0, '123', "A"]
myList

['Hello', 'World', 0, 1.0, '123', 'A']

In [12]:
myList[0]

'Hello'

In [13]:
myList[0] + myList[1] # Concatenated two strings from the list and returned the result (doesn't affect the list)

'HelloWorld'

### Sorting Lists

- sorted(listName)
- listName.sort()

In [14]:
scores = [50, 27, 100, 95, 0, 75, 88, 92]
scores

[50, 27, 100, 95, 0, 75, 88, 92]

In [15]:
sorted(scores) # Returns a sorted list. Doesn't affect the original list.

[0, 27, 50, 75, 88, 92, 95, 100]

In [16]:
sorted(scores, reverse=True)

[100, 95, 92, 88, 75, 50, 27, 0]

In [17]:
scores # Original list variable

[50, 27, 100, 95, 0, 75, 88, 92]

In [18]:
scores.sort() # Doesn't return anything. Sorts the original list.

In [19]:
scores # Original list variable

[0, 27, 50, 75, 88, 92, 95, 100]

In [20]:
scores.sort(reverse=True)
scores

[100, 95, 92, 88, 75, 50, 27, 0]

### Slicing lists

- listName[ start : end : step ]
- default start = Beginning of the list;
- default end = End of the list;
- default step = 1;

In [23]:
scores[0:3], scores[:3] # Both return the same.

([100, 95, 92], [100, 95, 92])

In [24]:
scores[-3:] # Last three items of the list

[50, 27, 0]

## Pandas DataFrames

In [25]:
import pandas as pd # Imports pandas module

In [26]:
data = pd.read_csv("lsd_math_score_data.csv") # Reading a CSV, turning it into a DataFrame type and
# storing it into the "data" variable.

In [27]:
data # Showing the DataFrame

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [28]:
type(data)

pandas.core.frame.DataFrame

In [29]:
data["LSD_ppm"] # Somewhat similar to Python Dictionaries and JavaScript objects.

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [30]:
data.LSD_ppm

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [31]:
data['High_Score']=100 # Creates a new column. Every row will have the same value this way.
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [32]:
data.High_Score+=data.Avg_Math_Test_Score # Adding columns and saving into DF.
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [33]:
data.High_Score**=.5 # "**" raises the variable to the power of the number right after it (".5" here,
# meaning it's the square root).

data.High_Score

0    13.376472
1    12.577758
2    12.941020
3    11.724760
4    12.068554
5    11.529094
6    11.400439
Name: High_Score, dtype: float64

In [34]:
type(data.High_Score) # A DataFrame is a collection of Series.
# Series can only have one column of data.
# Series may have names.

pandas.core.series.Series

In [35]:
data[["LSD_ppm", "Avg_Math_Test_Score"]]

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [36]:
# If you pass in a string, it returns as series.
# If you pass in a list of the names of the columns, it returns a DataFrame.
type(data["Avg_Math_Test_Score"]), type(data[["Avg_Math_Test_Score"]])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [37]:
del data['High_Score'] # Deletes a column. Only works with bracket notation.
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97